/* Navigation Bar & body main page*/
.navbar {
  overflow: hidden;
  background-color: #739c76;
  
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 0.875em;
  transition: opacity 0.3s ease;
  


}

.navbar a:hover {
  background-color: #5f675a;
  color: rgb(35, 35, 35);
  opacity: 0.8;


}

.navbar a.active {
  font-weight: bold;
  background-color: #d6f5de;
  color: rgb(12, 12, 12);
}


html {
  background-color: darkgray;
  background-image: url("../media/wallpaper.jpg");
}

/* body main page */
body {
  font-family: "Segoe UI", sans-serif;
  background-color: white;
  width: 80%;
  max-width: 1000px;
  min-width: 500px;
  margin: 20px auto;
  border: 0px dotted gray;
}



.main-page {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  text-align: justify;
  padding: 0 20px 20px 20px;
}

* {
  box-sizing: border-box
}


a {
  color: #1a73e8;
}

a:visited {
  color: #573976;
  font-weight: bold;
}

.container {
  width: 100%;
  padding: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  /* Adjust navigation for smaller screens */
  .navbar {
    text-align: center;
  }
  .navbar a {
    float: none;
    display: inline-block;
  }
   /* Adjust body padding and width */
   body {
    width: 100%;
    min-width: 150px;
  }


  .main-page {
    max-width: 100%;
  }

  /* Adjust footer alignment */
  .footer {
    padding-left: 20px; 
  }
}

@media screen and (min-width: 992px) {
  .main-page {
    max-width: 90%;
  }
}

/* printing media */
/* Stylesheet for print media */
@media print {
  @page {
    margin: 2cm;
  }

  html {
    background: white;
  }

  body {
    width: 100%;
    font-family: 'Segoe UI', sans-serif;
    background: white;
    min-width: initial;
    max-width: initial;
    box-shadow: initial;
  }

  /* Hide navigation for printing */
  .navbar {
    display: none;
  }

  a:after {
    content: " (" attr(href) ")";
  }

 
}
