/* Navigation Bar & body main page*/
.navbar {
  overflow: hidden;
  background-color: #739c76;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 14px;
  transition: opacity 0.3s ease;


}

.navbar a:hover {
  background-color: #5f675a;
  color: rgb(35, 35, 35);
  opacity: 0.8;


}

.navbar a.active {
  font-weight: bold;
  background-color: #d6f5de;
  color: rgb(12, 12, 12);
}


html {
	background-color:darkgray;
	background-image:url("../media/wallpaper.jpg");
}

/* body main page */
body {
  font-family: "Segoe UI", sans-serif;
  background-color:white;
	width:80%;
	max-width:1000px;
	min-width:500px;
	padding:0 20px 20px 20px; 
	margin:20px auto;
	border:0px dotted  gray;
}



.main-page {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  text-align: justify;
}

* {
  box-sizing: border-box
}


a {
  color: #1a73e8;
}

a:visited {
  color: #663399;
  font-weight: bold;
}