.title {
  text-align: center;
  font-size: 1.25em;
  margin-top: 20px;
}


/* Page 2 */
/* CSS for search button */
.search {
  text-align: normal;
  margin-top: 20px;
}

.search input[type="text"] {
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  margin-left: 0;

}
.search-result {
  width: 100%;
}
.search-result a:hover {
  color: #01447e;
  text-decoration: underline;
}



/* recipe table content */

.recipe-table {
  margin-top: 20px;
}

.recipe-table table {
  width: 100%;
}

.recipe-table td {
  vertical-align: top;
  padding: 10px;

}

.recipe-table a {
  text-decoration: none;
  font-weight: bold;
}

.recipe-table a:hover {
  color: #01447e;
  text-decoration: underline;
}


.recipe-table img {
  width: 100%;
  height: 100%;
  display: block;

  object-fit: cover;
}

.post-name {
  font-size: 1.5625em;
  font-weight: bold;
}


.post-content {
  display: flex;
}

.post-description {
  flex: 5;
  text-align: justify;
  margin-left: 40px;
  margin-right: 40px;
}

.post-image {
  flex: 5;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .post-content {
    flex-direction: column; 
  }

  .post-description {
    margin: 10px 0;
    text-align: justify;
    margin: 20px 0;
  }
  .post-image {
    width: 100%; /* Set image width to 100% */
    height: auto; /* Ensure image maintains aspect ratio */
    overflow: hidden;
  }
}


/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 10px;
}

.page,
.prev,
.next {
  padding: 8px 16px;
  margin: 0 4px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.page:hover,
.prev:hover,
.next:hover {
  background-color: #f2f2f2;
}

.prev,
.next {
  background-color: #f2f2f2;
}

.prev:hover,
.next:hover {
  background-color: #ddd;
}

.page.active {
  background-color: #b5aeae;
  color: #fff;
}